node_modules
public
.db
.tmp
.sass-cache
.idea
build
mongo-secrets.txt
server/config/secrets.js
*~

######################
# Intellij
######################
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig

######################
# Logs
######################
*.log

######################
# OS X stuff
######################
.DS_Store

######################
# Visual Studio stuff
######################
/.vs
